{% load static %}

{% include 'homepage/upper_template.html' %}
<div class="row">
<div class="card hoverable col m3 offset-m5 s12 chart">
	<div class="card-content">
		<p class="chart-name"><span class="master">국장</span>오상호</p>
	</div>
</div>
</div>
<div class="row">
<div class="card hoverable col m3 offset-m5 s12 chart">
	<div class="card-content">
		<p class="chart-name"><span class="master">부국장</span>오주성</p>
	</div>
</div>
</div>
<div class="row">
<div class="card hoverable col m3 offset-m1 s12 chart">
	<div class="card-content">
		<span class="card-title center chart-title">보도부</span>
    	<div class="divider"></div>
		<p class="chart-name"><span class="master">부장</span>신재민<br><span class="sub-master">고문</span>류민</p>
    	<div class="divider"></div>
		<p class="chart-name">유상우<br>윤채림<br>정승원<br>한예슬<br>
    	<div class="divider"></div>
		<p class="chart-name">김민태<br>민유영<br>성소연<br>이정민<br>이택상<br>정나연</p>
	</div>
</div>
<div class="card hoverable col m3 offset-m1 s12 chart">
	<div class="card-content">
		<span class="card-title center chart-title">편성제작부</span>
    	<div class="divider"></div>
		<p class="chart-name"><span class="master">부장</span>김현우</p>
    	<div class="divider"></div>
		<p class="chart-name">김류희<br>김요한<br>박진성<br>
    	<div class="divider"></div>
		<p class="chart-name">김승진<br>김창욱<br>박정훈<br>박혜선<br>변재원<br>한승록</p>
	</div>
</div>
<div class="card hoverable col m3 offset-m1 s12 chart">
	<div class="card-content">
		<span class="card-title center chart-title">아나운서부</span>
    	<div class="divider"></div>
		<p class="chart-name"><span class="master">부장</span>주광진<br><span class="sub-master">고문</span>이소현</p>
    	<div class="divider"></div>
		<p class="chart-name">강주은<br>박민희<br>이병우<br>이준석</p>
	</div>
</div>
</div>
{% include 'homepage/lower_template.html' %}
