{% load static %}

{% include 'homepage/upper_template.html' %}
<div class="map" id="map"></div>
<p class="contact-us">
<span class="contact-title">Mail<br></span>
<span class="contact-content">&emsp;postechpbs13@gmail.com<br></span>
<span class="contact-title">Phone<br></span>
<span class="contact-content">&emsp;054) 279-3845<br></span>
<span class="contact-title">Messenger<br></span>
<span class="contact-content">&emsp;m.me/postechpbs<br></span>
<span class="contact-title">찾아오는 길<br></span>
<span class="contact-content">&emsp;경북 포항시 남구 청암로 77 포항공과대학교 학생회관 310호<br></span>
</p>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyHpJMMBtBdpMPTYs7Jc4c_-KaT3Re91E&callback=initMap">
</script>
{% include 'homepage/lower_template.html' %}
