{% load static %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m9 s12">
                (37673) 경상북도 포항시 남구 청암로 77(효자동 산31) 포항공과대학교 학생회관 310호<br>
                TEL.054-279-3845
            </div>
            <div class="col m1 s3 right">
                <br>
                <a href="https://www.facebook.com/postechpbs"><img class="icon responsive-img" src="{% static 'img/icon/fb_icon.png' %}"></a>
                <a href="https://www.youtube.com/channel/UC0l7--B5331jo2WwX1avPOg"><img class="icon responsive-img" src="{% static 'img/icon/youtube_icon.png' %}"></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 POSTECH Broadcasting System.
            <div class="right" style="text-align:right">
                Written by Chaeyong park<br>
                POSTECH Computer Science 14
            </div>
        </div>
    </div>
</footer>
