{% load static %}

{% include 'homepage/upper_template.html' %}
<ul class="vertical-line" >
    <li>
        <div class="col s12 m6 offset-m6 l5 offset-l6">
            <div class="card-panel hoverable history-right">
                <span class="history-title">2017</span>
                <p class="history-content">
                    <dl class="history-dl-right">
                        <dt class="history-mon">09</dt>
						<dd>홈페이지 재 개설</dd>
                    </dl>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel hoverable history-left">
                <span class="history-title">2013</span>
                <p class="history-content">
                    <dl class="history-dl-left">
						<dt>YouTube 채널 개설</dt>
						<dd class="history-mon">08</dd>
						<dt> 포항공과대학교 총학생회 전체학생대의원회의 생중계 시작</dt>
                        <dd class="history-mon">09</dd>
					</dl>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="col s12 m6 offset-m6 l5 offset-l6">
            <div class="card-panel hoverable history-right">
                <span class="history-title">2012</span>
				<p class="history-content">
                    <dl class="history-dl-right">
						<dt class="history-mon">03</dt>
						<dd>[방송국]으로 공식 명칭 변경</dd>
                        <dt class="history-mon">09</dt>
						<dd> 페이스북 페이지 개설</dd>
						<dt class="history-mon">12</dt>
						<dd> 자치규칙 제정</dd>
                    </dl>
                </p>
            </div>
        </div>
    </li>
	<li>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel hoverable history-left">
                <span class="history-title">2010</span>
                <p class="history-content">
                    <dl class="history-dl-left">
						<dt> 홈페이지 개편</dt>
						<dd class="history-mon">03</dd>
						<dt>포스텍카이스트학생대제전 생중계 시작</dt>
                        <dd class="history-mon">09</dd>
					</dl>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="col s12 m6 offset-m6 l5 offset-l6">
            <div class="card-panel hoverable history-right">
                <span class="history-title">2007</span>
				<p class="history-content">
                    <dl class="history-dl-right">
						<dt class="history-mon">03</dt>
						<dd>홈페이지 개설</dd>
                    </dl>
                </p>
            </div>
        </div>
    </li>
	<li>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel hoverable history-left">
                <span class="history-title">2006</span>
                <p class="history-content">
                    <dl class="history-dl-left">
						<dt>인원 부족으로 업무 중단</dt>
						<dd class="history-mon">03</dd>
						<dt> 인원 충원 및 업무 재개</dt>
                        <dd class="history-mon">09</dd>
					</dl>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="col s12 m6 offset-m6 l5 offset-l6">
            <div class="card-panel hoverable history-right">
                <span class="history-title">1998</span>
				<p class="history-content">
                    <dl class="history-dl-right">
						<dt class="history-mon">09</dt>
						<dd>총학생회 산하 자치기구로 출범</dd>
                    </dl>
                </p>
            </div>
        </div>
    </li>
	<li>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel hoverable history-left">
                <span class="history-title">1989</span>
                <p class="history-content">
                    <dl class="history-dl-left">
						<dt>[방송문화연구회] 동아리 등록</dt>
						<dd class="history-mon">04</dd>
					</dl>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="col s12 m6 offset-m6 l5 offset-l6">
            <div class="card-panel hoverable history-right">
                <span class="history-title">1988</span>
				<p class="history-content">
                    <dl class="history-dl-right">
						<dt class="history-mon">09</dt>
						<dd>방송사 분리</dd>
                    </dl>
                </p>
            </div>
        </div>
    </li>
	<li>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel hoverable history-left">
                <span class="history-title">1987</span>
                <p class="history-content">
                    <dl class="history-dl-left">
						<dt> 신문방송사 조직 설립</dt>
						<dd class="history-mon">04</dd>
					</dl>
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="col s12 m6 offset-m6 l5 offset-l6">
            <div class="card-panel hoverable history-right" style="margin-bottom: 50px">
                <span class="history-title">1986</span>
				<p class="history-content">
                    <dl class="history-dl-right">
						<dt class="history-mon">12</dt>
						<dd>포항공과대학교 개교</dd>
                    </dl>
                </p>
            </div>
        </div>
    </li>
</ul>
{% include 'homepage/lower_template.html' %}
