{% load static %}
<div class="navbar-fixed">
    <nav class="navbar-pbs">
        <div class="nav-wrapper">
			<div class="search">
				<a href="#"><i class="material-icons" id="search-btn">search</i></a>
			</div>
			<a href="/" class="brand-logo center">
                <img src="{% static 'img/logo/logo.jpg' %}" class="circle responsive-img"/>
            </a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="hide-on-med-and-down nav-left">
                <li><a href="/info" class="waves-effect waves-light dropdown-button" data-activates="pbs-dropdown">ABOUT US</a></li>
                <li><a href="/news" class="waves-effect waves-light dropdown-button" data-activates="news-dropdown" >NEWS</a></li>
                <li><a href="/surplus_media" class="waves-effect waves-light dropdown-button" data-activates="entertainment-dropdown">ENTERTAINMENT</a></li>
            </ul>
            <ul class="hide-on-med-and-down nav-right">
                <li><a href="/radio" class="waves-effect waves-light dropdown-button" data-activates="radio-dropdown">PBS RADIO</a></li>
                <li><a href="/fest_posking" class="waves-effect waves-light dropdown-button" data-activates="postech-dropdown" >PBS IN POSTECH</a></li>
                <li><a href="/notice" class="waves-effect waves-light dropdown-button" data-activates="board-dropdown">BOARD</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="search-modal" class="modal search-text">
	<form action="/search" method="get">
    <div class="modal-content">
		<div class="row">
			<div class="input-field col s6">
				<select name="f">
					<option value="t">제목</option>
					<option value="tc">제목+내용</option>
				</select>
				<label>검색필터</label>
			</div>
        	<div class="input-field col s12">
        		<input id="search_elem" type="text" class="validate search-auto" name="search_elem">
          		<label for="search_elem">searching videos</label>
			</div>
        </div>
    </div>
    <div class="modal-footer">
		<button class="waves-effect waves-light btn postech-red" type="submit">찾기
			<i class="material-icons right">search</i>
		</button>
	</div>
	</form>
</div>

<ul id="mobile-menu" class="collapsible side-nav" data-collapsible="accordion">
    <li>
		<div class="user-view">
            <a href="/"><span class="postech-red-text">pcy8201@postech.ac.kr</span></a>
        </div>
	</li>
    <li>
		<a class="collapsible-header waves-effect waves-light">ABOUT US</a>
		<div class="collapsible-body">
			<ul>
				<li><a href="/info/" class="waves-effect waves-light">PBS 소개</a></li>
				<li><a href="/history/" class="waves-effect waves-light">연혁</a></li>
				<li><a href="/ci/" class="waves-effect waves-light">CI</a></li>
				<li><a href="/chart/" class="waves-effect waves-light">조직도</a></li>
				<li><a href="/contact/" class="waves-effect waves-light">Conatact us</a></li>
			</ul>
		</div>
	</li>
	<li>
		<a class="collapsible-header waves-effect waves-light">NEWS</a>
		<div class="collapsible-body">
			<ul>
				<li><a href="/news/" class="waves-effect waves-light">PBS 요기조기</a></li>
				<li><a href="/pbs_plus/" class="waves-effect waves-light">PBS+</a></li>
				<li><a href="/poq/" class="waves-effect waves-light">Po:Q</a></li>
				<li><a href="/card_news/" class="waves-effect waves-light">PBS 카드뉴스</a></li>
			</ul>
		</div>
	</li>
	<li>
		<a class="collapsible-header waves-effect waves-light">ENTERTAINMENT</a>
		<div class="collapsible-body">
			<ul>
				<li><a href="/surplus_media/" class="waves-effect waves-light">PBS 잉여언론학과</a></li>
				<li><a href="/entertainment/" class="waves-effect waves-light">PBS 예능</a></li>
			</ul>
		</div>
	</li>
	<li>
		<a class="collapsible-header waves-effect waves-light">PBS RADIO</a>
		<div class="collapsible-body">
			<ul>
				<li><a href="/radio/" class="waves-effect waves-light">POSTECH 화요일속으로</a></li>
			</ul>
		</div>
	</li>
	<li>
		<a class="collapsible-header waves-effect waves-light">PBS IN POSTECH</a>
		<div class="collapsible-body">
			<ul class="collapsible">
				<li>
					<a class="collapsible-header waves-effect waves-light"><b>해맞이한마당</b></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="/fest_posking/" class="waves-effect waves-light">PBS POSKING</a></li>
							<li><a href="/fest_show/" class="waves-effect waves-light">무대 공연영상</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a class="collapsible-header waves-effect waves-light"><b>POSTECH-KAIST학생대제전</b></a>
					<div class="collapsible-body">
						<ul>
							<li><a href="/poka_live/" class="waves-effect waves-light">생중계</a></li>
							<li><a href="/poka_highlight/" class="waves-effect waves-light">하이라이트</a></li>
						</ul>
					</div>
				<li><a href="/orientation/" class="waves-effect waves-light">새내기새로배움터</a></li>
				<li><a href="/meeting/" class="waves-effect waves-light">전체학생대의원회의</a></li>
			</ul>
		</div>
	</li>
	<li>
		<a class="collapsible-header waves-effect waves-light">BOARD</a>
		<div class="collapsible-body">
			<ul>
				<li><a href="/notice/" class="waves-effect waves-light">공지사항</a></li>
				<li><a href="/survey/" class="waves-effect waves-light">설문조사</a></li>
				<li><a href="/board/" class="waves-effect waves-light">시청자게시판</a></li>
				<li><a href="/story/" class="waves-effect waves-light">사연신청</a></li>
			</ul>
		</div>
	</li>
</ul>

<ul id="pbs-dropdown" class="dropdown-content">
    <li><a href="/info/">PBS 소개</a></li>
    <li class="divider"></li>
    <li><a href="/history/">연혁</a></li>
    <li class="divider"></li>
    <li><a href="/ci/">CI</a></li>
    <li class="divider"></li>
    <li><a href="/chart/">조직도</a></li>
    <li class="divider"></li>
    <li><a href="/contact/">Contact us</a></li>
</ul>

<ul id="news-dropdown" class="dropdown-content">
    <li><a href="/news/">PBS 요기조기</a></li>
    <li class="divider"></li>
    <li><a href="/pbs_plus/">PBS+</a></li>
    <li class="divider"></li>
    <li><a href="/poq/">Po:Q</a></li>
    <li class="divider"></li>
    <li><a href="/card_news/">PBS 카드뉴스</a></li>
</ul>

<ul id="entertainment-dropdown" class="dropdown-content">
    <li><a href="/surplus_media/">PBS 잉여언론학과</a></li>
    <li class="divider"></li>
    <li><a href="/entertainment/">PBS 예능</a></li>
</ul>

<ul id="radio-dropdown" class="dropdown-content">
    <li><a href="/radio/">POSTECH 화요일 속으로</a></li>
</ul>

<ul id="postech-dropdown" class="dropdown-content">
    <li><a class="dropdown-button" data-activates="fest-dropdown">해맞이한마당</a></li>
    <li class="divider"></li>
    <li><a class="dropdown-button" data-activates="poka-dropdown">POSTECH-KAIST학생대제전</a></li>
    <li class="divider"></li>
    <li><a href="/orientation/">새내기새로배움터</a></li>
    <li class="divider"></li>
    <li><a href="/meeting/">전체학생대의원회의</a></li>
</ul>

<ul id="fest-dropdown" class="dropdown-content second-dropdown">
	<li><a href="/fest_posking/">PBS POSKING</a></li>
    <li class="divider"></li>
    <li><a href="/fest_show/">무대 공연영상</a></li>
</ul>

<ul id="poka-dropdown" class="dropdown-content second-dropdown">
	<li><a href="/poka_live/">생중계</a></li>
    <li class="divider"></li>
    <li><a href="/poka_highlight/">하이라이트</a></li>
</ul>

<ul id="board-dropdown" class="dropdown-content">
    <li><a href="/notice/">공지사항</a></li>
    <li class="divider"></li>
    <li><a href="/survey/">설문조사</a></li>
    <li class="divider"></li>
    <li><a href="/board/">시청자게시판</a></li>
    <li class="divider"></li>
    <li><a href="/story">사연신청</a></li>
</ul>
