{% load static %}

<!DOCTYPE html>
<html>
    {% include 'homepage/header.html' %}    
    <body>
        {% include 'homepage/nav.html' %}
        <div class="main">
            <div class="parallax-container">
                <div class="parallax">
                    <img src="{% static 'img/banner/info.jpg' %}" class="vintage">
                </div>
                <div class="container">
                    <h1 class="parallax-header center white-text"><br>{{ current.name }}</h1>
                </div>
            </div>
            <div class="section white page">
                <div class="row">
					<div class="col l2 offset-l1 m3 hide-on-small-only">
						<ul class="collapsible popout" data-collapsible="accordion">
							{% for i in menu %}
							{% if i.name == current.name %}
							<li>
								<div class="collapsible-header menu active">{{ i.name }}</div>
							</li>
							{% else %}
							<li>    
								<a class="no-h" href="{{ i.link }}"><div class="collapsible-header menu">{{ i.name }}</div></a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
                    <div class="col l7 m9 s12 row">
                        <div class="container-header">
                            <span class="board-title">{{ current.name }}</span><span class="board-comment">{{ current.explain }}</span>
                        </div>
