{% load static %}

{% include 'homepage/upper_template.html' %}
{% if video|length > 0 %}
<div class="col m12">
	<h5>{{ main_video.title }}</h5>
</div>
<div class="col m10 offset-m1 s12">
	<div class="video-container hoverable">
		<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fpostechpbs%2Fvideos%2F{{ main_video.url }}" width="850" height="345" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
	</div>
</div>
<div class="col m12">
	<p>{{ main_video.explain }}</p>
</div>
<div class="video-copyright col s12">
	<p>© 포항공과대학교방송국PBS(http://pbs.postech.ac.kr)<br>무단전재 및 재배포금지 | <a class="postech-orange-text" href="/contact">저작권문의</a></p>
</div>
<div class="videos row" id="items">
{% for v in video%}
<div class="col s12 m6 l4">
	<a class="a-black" href="{{ current.link }}/?v={{ v.pk }}&p={{ now }}">
		<div class="card video-card hoverable">
			<div class="card-image">
				<img src="https://graph.facebook.com/{{ v.url }}/picture">
			</div>
			<div class="card-content">
				<p>{{ v.title }}</p>
				<p class="video-date">{{ v.date.year }}년 {{v.date.month }}월 {{ v.date.day }}일</p>
			</div>
		</div>
	</a>
</div>
{% endfor %}
</div>
<div class="col s12">
	<ul class="pagination center" id="page-counter">
		{% for p in page %}
			{% if p == now %}
				<li class="active postech-red"><a href="" class="list_change" name="{{ p }}">{{ p }}</a></li>
			{% else %}
				<li><a href="" class="list_change" name="{{ p }}">{{ p }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
{% else %}
<div class="no-video"><p>동영상이 없습니다.</p></div>
{% endif %}
{% include 'homepage/lower_template.html' %}
