{% load static %}

{% include 'homepage/upper_template.html' %}
<div class="col s12 notice-wrapper">
	<div class="notice-title">
		<h5>{{ note.title }}</h5>
		<p class="note-date">{{ note.date.year }}년 {{ note.date.month }}월 {{ note.date.day }}일</p>
	</div>
	<div class="col m10 offset-m1 s12 notice-content">
		<p class="notice-content">
		{% autoescape off %}
			{{ note.content }}
		{% endautoescape %}		
		</p>
	</div>
</div>
<div class="fixed-action-btn" style="bottom: 20px; right: 20px">
	<a href="/notice" class="waves-effect waves-light btn-large btn-floating postech-red" ><i class="material-icons">menu</i></a>
</div>
{% include 'homepage/lower_template.html' %}
