{% load static %}

{% include 'homepage/upper_template.html' %}
<div class="col m10 offset-m1 s12 con">
    <div class="input-field col s6">
        <input id="title" type="text" class="validate">
        <label for="title">제목</label>
    </div>
    <div class="input-field col s12">
        <input id="content" type="text" class="validate">
        <label for="content">주소</label>
    </div>
    <div class="right">
        <button class="btn waves-effect waves-light postech-red write_note" name="survey">작성
            <i class="material-icons right">edit</i>
        </button>
    </div>
</div>
{% include 'homepage/lower_template.html' %}
