@font-face {
    font-family: 'Nanum Gothic', sans-serif;
}

/* POSTECH Color */
.postech-red {
    background-color: #C80150 !important
}

.postech-red-text{
    color: #C80150 !important
}

.postech-orange {
    background-color: #FFB300 !important
}

.postech-orange-text{
    color: #FFB300 !important
}

.postech-gray {
    background-color: #66665C !important
}

.postech-gray-text{
    color: #66665C !important
}

html {
    position: relative;
    min-height: 100vh !important;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.section {
    background-color: #fafafa;
}

main {
    flex: 1 0 auto;
}

/* Navbar */
.navbar-pbs.scrolled{
    background: rgba(0, 0, 0, 0.8) !important;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;  
}

.navbar-pbs {
    background: #607d8b;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.page-footer {
    background: #607d8b;
}

.navbar-pbs.scrolled > .nav-wrapper > .nav-left {
    margin-right: 0px;
    transition: all 0.4s ease-out;  
}

.navbar-pbs.scrolled > .nav-wrapper > .nav-right {
    margin-left: 0px;
    transition: all 0.4s ease-out;  
}

.nav-left {
    position: absolute;
    right: 50%;
    margin-right: 60px;
    transition: all 0.4s ease-out;  
}

.nav-right {
    position: absolute;
    left: 50%;
    margin-left: 60px;
    transition: all 0.4s ease-out;  
}

.nav-left > li > a {
    color: white;
    font-weight: Bold;
}

.nav-right > li > a {
    color: white;
    font-weight: Bold;
}

.navbar-pbs > .nav-wrapper > .brand-logo {
    z-index: 1;
    opacity: 1;
    padding-top: 14px;
    transition: all 0.4s ease-out;
}

.navbar-pbs.scrolled > .nav-wrapper > .brand-logo {
    z-index: 1;
    opacity: 0;
    padding-top: 14px;
    transition: all 0.4s ease-out;
}

/* Search */
.search {
    position: absolute;
    right: 30px;
}

.search-text {
    width: 90%;
    max-width: 500px !important;
}

.search-res-text {
    text-align: right;
    margin-right: 5px;
}

.autocomplete-content > li {
    text-align: left;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #C80150 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #C80150 !important;
    box-shadow: 0 1px 0 0 #C80150 !important;
}

.select-dropdown > li > span {
    color: #66665c;
}

.modal-footer > button {
    margin-right: 5px !important;
}

.tabs .indicator {
    background-color: #C80150 !important;
}

.tab-section {
    padding-top: 0 !important;
}

/* Dropdown menu */
.dropdown-content > li > a{
    color: #455a64 !important;
    text-align: center;
    font-weight: Bold;
}

.dropdown-content > li {
    text-align: center;
}

.dropdown-content {
    z-index: 1;
    overflow: visible !important;
}

.second-dropdown {
    margin-left: 235px !important;
    margin-top: -50px !important;
}

.show-pic {
    padding: 0 !important;
    margin : 0 !important;
}

.parallax-container {
    height: 250px;
}

.vintage {
    -webkit-filter: sepia(70%) grayscale(40%) brightness(60%);
    -moz-filter: sepia(70%) grayscale(40%) brightness(60%);
    -o-filter: sepia(70%) grayscale(40%) brightness(60%);
    -ms-filter: sepia(70%) grayscale(40%) brightness(60%);
    filter: sepia(70%) grayscale(30%) brightness(60%);
}


.parallax-header {
    color: #FFFFFF;
    font-weight: Bold;
}

.container-header {
    border-bottom: 1.5px solid #DDDDDD;
    margin: 0 0 20px 0;
}

.board-title {
    color: #C80150;
    font-size: 50px;
    font-weight: Bold;
    padding-right: 30px;
}

.page {
    min-height: 500px;
}

.menu {
    font-weight: Bold !important;
}

.cmenu {
    padding: 20px 0 20px 20px !important;
}

.no-h {
    color: black;
}

.icon {
    width: 40%;
    min-width: 20px;
    margin-right: 3px;
}

.a-black {
    color: black;
}

.home-card {
    overflow: hidden;
}

.main-banner {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
}
.main-shadow {
    background-color: black;
    opacity: 0.5;
    z-index: 30;
}

@media (max-width : 450px) {
    .home-content {
        padding: 12px !important;
    } 
    .home-title {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .brand-logo {
        padding-top: 6px !important;
    }
}

/* Video */
.video-copyright {
    text-align: right;
    border-bottom: 0.5px solid #DDDDDD;
    margin: 10px;
}

.main-video {
    background: orange;
}

.video-copyright > p > a {
    color: black;
}

.video-date { 
    text-align: right !important;
    color: #757575 !important;
}

.video-container {
    margin-top: 8px;
}

.video-wrapper {
    margin-top: 10px;
}

.no-video {
    text-align: center;
    font-size: 20px;
    color: #66665C;
    padding-top: 100px;
}

.no-search {
    text-align: center;
    font-size: 20px;
    color: #66665C;
    padding-top: 100px;
}

/* Notice */
.notice-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.notice-date {
    text-align: right !important;
    color: #757575 !important;
    margin: 0 !important;
}

.notice-list-title {
    margin-top: 0 !important;
    margin-bottom: 0.2em !important;
}

.notice-title {
    margin-top: 35px;
    padding-top: 25px;
    padding-left: 15px;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
}

.note-date {
    text-align: right !important;
    color: #757575 !important;
    margin-top: 0;
}

.notice-content {
    margin-top: 20px;
    text-align: justify;
}

/* contact us */
.contact-us {
    font-size: 20px;
}

.contact-title {
    color: #a1887f;
    font-weight: Bold;
}

.contact-content {
    font-size: 17px !important;
}

.map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/* CI */
.ci {
    text-align: center;
    margin-bottom: 50px;
}

.ci-title {
    font-size: 20px;
    font-weight: Bold;
    color: #a1887f;
}

/* info */
.about-us-title {
    font-weight: Bold;
}

.info-title {
    margin-bottom: 50px;
}

.master-hi {
    margin-top: 50px !important;
}

.master-hi-img {
    margin-bottom: 10px;
}

.master-hi-content {
    text-align: justify;
}

/* history */
.history-left {
    background-color: #fafafa;
    text-align: right;
    margin-right: 20px;
    margin-bottom: -40px;
}

.history-right {
    background-color: #fafafa;
    margin-left: 20px;
    margin-bottom: -40px;
}

.history-mon {
    font-size: 20px;
    font-weight: Bold;
    color: #795548;
}

.history-title {
    font-size: 30px;
    font-weight: Bold;
}

.history-content {
    margin: 0 !important;
    padding: 0 !important;
}

.history-dl-right > dt {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 10%;
}
    
.history-dl-right > dd {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    margin: 0;
    padding: 0;
}

.history-dl-left > dt {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
    
.history-dl-left > dd {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 10%;
    margin: 0;
    padding: 0;
}

@media all and (max-width : 640px) {
    .history-right {
        margin-bottom: 10px;
    }

    .history-left {
        margin-bottom: 10px;
    }
}

@media (max-width : 450px) {
    .main-banner {
        height: 200px;
    }
}

/* cardnews */
.cardnews-content {
    margin-top: 20px;
}

.card-news-mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* Chart */
.chart {
    background-color: #fafafa;
}
.chart-title {
    font-size: 1.3em !important;
    font-weight: Bold !important;
}

.chart-name {
    text-align: center;
    font-size: 1.2em;
    padding-top: 7px;
    padding-bottom: 7px;
}

.master {
    font-size: 14px;
    margin-right: 10px;
}

.sub-master {
    font-size: 14px;
    margin-right: 10px;
}
