@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: normal;
}

/* POSTECH Color */
.postech-red {
	background-color: #C80150 !important
}

.postech-red-text{
	color: #C80150 !important
}

.postech-orange {
	background-color: #FFB300 !important
}

.postech-orange-text{
	color: #FFB300 !important
}

.postech-gray {
	background-color: #66665C !important
}

.postech-gray-text{
	color: #66665C !important
}

html {
	position: relative;
}

body {
	background-color: #fafafa;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Navbar */
.nav-wrapper.scrolled{
/*	background: rgba(0, 0, 0, 0.6) !important;*/
}

.nav-left {
	position: absolute;
	right: 50%;
	margin-right: 60px;
}

.nav-left > li > a {
	font-weight:Bold;
}

.nav-right {
	position: absolute;
	left: 50%;
	margin-left: 60px;
}

.nav-right > li > a {
	font-weight:Bold;
}

.logo {
	width: 70%;
	min-width: 100px;
	margin: 0 !important;
	padding: 0 !important;
}

.brand-logo {
	z-index: 1;
}

/* Dropdown menu */
.dropdown-content > li > a{
	color: #455a64 !important;
	text-align: center;
	font-weight: Bold;
}

.dropdown-content > li {
	text-align: center;
}

.dropdown-content {
	z-index: 1;
}

.show-pic {
	padding: 0 !important;
	margin : 0 !important;
}

.parallax-container	{
	height: 250px;
}

.vintage {
	-webkit-filter: sepia(70%) grayscale(40%) brightness(60%);
	-moz-filter: sepia(70%) grayscale(40%) brightness(60%);
	-o-filter: sepia(70%) grayscale(40%) brightness(60%);
	-ms-filter: sepia(70%) grayscale(40%) brightness(60%);
	filter: sepia(70%) grayscale(30%) brightness(60%);
}

.parallax-header {
	color: #FFFFFF;
	font-weight: Bold;
}

.container-header {
	border-bottom: 1.5px solid #DDDDDD;
	margin: 0 0 20px 0;
}

.board-title {
	color: #C80150;
	font-size: 50px;
	font-weight: Bold;
	padding-right: 30px;
}

.page {
	min-height: 500px;
}

.menu {
	font-weight: Bold !important;
}

.no-h {
	color: black;
}

.icon {
	width: 40%;
	min-width: 20px;
	margin-right: 3px;
}

.a-black {
	color: black;
}

.home-card {
	overflow: hidden;
}

/* Video */
.video-copyright {
	text-align: right;
	border-bottom: 0.5px solid #DDDDDD;
	margin: 10px;
}

.main-video {
	background: orange;
}

.video-copyright > p > a {
	color: black;
}

.video-date { 
	text-align: right !important;
	color: #757575 !important;
}

.video-container {
	margin-top: 8px;
}

.video-wrapper {
	margin-top: 10px;
}

.no-video {
	text-align: center;
	font-size: 20px;
	color: #66665C;
	padding-top: 100px;
}

/* Notice */
.notice-date {
	text-align: right !important;
	color: #757575 !important;
	margin: 0 !important;
}

.notice-list-title {
	margin-top: 0 !important;
	margin-bottom: 0.2em !important;
}

.notice-title {
	margin-top: 35px;
	padding-top: 25px;
	padding-left: 15px;
	border-top: 2px solid #DDDDDD;
	border-bottom: 2px solid #DDDDDD;
}

.note-date {
	text-align: right !important;
	color: #757575 !important;
	margin-top: 0;
}

.notice-content {
	margin-top: 20px;
	text-align: justify;
}

/* contact us */
.contact-us {
	font-size: 20px;
}

.contact-title {
	color: #a1887f;
	font-weight: Bold;
}

.map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

/* CI */
.ci {
	text-align: center;
	margin-bottom: 50px;
}

.ci-title {
	font-size: 20px;
	font-weight: Bold;
	color: #a1887f;
}

/* info */
.about-us-title {
	font-weight: Bold;
}

.info-title {
	margin-bottom: 50px;
}

.master-hi {
	margin-top: 50px !important;
}

.master-hi-img {
	margin-bottom: 10px;
}

.master-hi-content {
	text-align: justify;
}

/* history */
.history-left {
	background-color: #fafafa;
	text-align: right;
	margin-right: 20px;
	margin-bottom: -40px;
}

.history-right {
	background-color: #fafafa;
	margin-left: 20px;
	margin-bottom: -40px;
}

.history-mon {
	font-size: 20px;
	font-weight: Bold;
	color: #795548;
}

.history-title {
	font-size: 30px;
	font-weight: Bold;
}

.history-content {
	margin: 0 !important;
	padding: 0 !important;
}

.history-dl-right > dt {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 10%;
}
	
.history-dl-right > dd {
	display: inline-block;
	vertical-align: middle;
	width: 80%;
	margin: 0;
	padding: 0;
}

.history-dl-left > dt {
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}
	
.history-dl-left > dd {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 10%;
	margin: 0;
	padding: 0;
}

@media all and (max-width : 640px) {
	.history-right {
		margin-bottom: 10px;
	}

	.history-left {
		margin-bottom: 10px;
	}
}

/* cardnews */
.cardnews-content {
	margin-top: 20px;
}

.card-news-mobile {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* Chart */
.chart {
	background-color: #fafafa;
}
.chart-title {
	font-size: 1.3em !important;
	font-weight: Bold !important;
}

.chart-name {
	text-align: center;
	font-size: 1.2em;
	padding-top: 7px;
	padding-bottom: 7px;
}

.master {
	font-size: 14px;
	margin-right: 10px;
}

.sub-master {
	font-size: 14px;
	margin-right: 10px;
}
